.Rproj.user
.Rhistory
.RData
.Ruserdata

TERCER_INFORME_ANCHOVETA.log

.DS_Store

funciones/Fn_FigurasX.R

PORTADA_INICIAL.log

PORTADA_ANEXO_III.log

ANEXOII_tallerdatosParteI.log

ANEXOIII_tallerdatosParteII.log
